include base.jade
.container
  .row
    .panel.panel-default
    .col-md-2.col-sm-4.col-xs-10
      .panel-heading Bienvenue #{sess}
      .panel-body
        a(href="/majuser") Mettre à jour vos informations
        br
        a(href="/export") Réaliser un export 
        br
        a(href="/logout") Déconnexion
    .col-md-5.col-sm-7.col-xs-13
      .panel-heading Vos films à voir :
      .panel-body
        table.table
          thead
            tr
              th Nom du film
              th
              th
          tbody
            each movie, i in movies
              if movie.etat == 0
                tr
                  td
                    a(href="/maj?id=#{movie._id}") #{movie.name}
                  td
                    a(href="/delete?id=#{movie._id}") Supprimer
                  td
                    a(href="/updatevu?id=#{movie._id}") Déjà vu
            tr
              form(#form action="/movie" method="post")
                td
                  input(type="text" placeholder="nom du film" name="name" id="name")
                  input(type="hidden" name="etat" value="0")
                  input(type="hidden" name="user" value="#{sess}")
                td
                  button(type="submit") Ajouter
    .col-md-5.col-sm-7.col-xs-13
      .panel-heading Vos films déjà vus :
      .panel-body
        table.table
          thead
            tr
              th Nom du film
              th
              th
          tbody
            each movie, i in movies
              if movie.etat == 1
                tr
                  td
                    a(href="/maj?id=#{movie._id}") #{movie.name}
                  td
                    a(href="/delete?id=#{movie._id}") Supprimer
                  td
                    a(href="/updateavoir?id=#{movie._id}") A voir
                  td
            tr
              form(#form action="/movie" method="post")
                td
                  input(type="text" placeholder="nom du film" name="name" id="name")
                  input(type="hidden" name="etat" value="1")
                  input(type="hidden" name="user" value="#{sess}")
                td
                  button(type="submit") Ajouter


  script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
  script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
